* {
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    height: 100vh;
    padding: 0;
    background-image: url(./img/15c9d6a120b80502f341003f80c1870dd981a9ab_high.webp);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root {
    height: 100%;
}

.icons {
    width: 40px;
    height: 40px;
}

.error-title {
    text-align: center;
    color: #ffffff;
    border-radius: 15px;
    background-color: #ff6868;
    display: block;
    line-height: 1.8em;
    width: 18em;
    height: 2em;
}

.container {
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

header {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.header-title {
    font-size: calc(30px + 3vw);
    color: #fff;
}

.form-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    min-width: 200px;
    width: 100%;
    height: 120px;
    & input {
        user-select: none;
        font-size: 20px;
        width: 100%;
        height: 40%;
        text-align: center;
        border-radius: 25px;
        outline: none;
        border: none;
        padding: 0 20px;
        background-color: rgba(255, 255, 255, 60%);
    }
    & button {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        background-color: rgba(255, 255, 255, 60%);
        outline: none;
        border: none;
        border-radius: 100%;
        font-size: 16px;
        & img {
            user-select: none;
            display: block;
            width: 25px;
            height: 25px;
        }
        &:active {
            background-color: rgba(255, 255, 255, 20%);
            & img {
                display: none;
            }
        }
    }
}

.main {
    user-select: none;
    min-width: 300px;
    max-width: 800px;
    width: 100%;
    min-height: 400px;
    max-height: 460px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.block-one {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    min-width: 370px;
    max-width: 800px;
    height: 460px;
    background-color: rgba(255, 255, 255, 30%);
    border-radius: 30px 30px 0px 0px;
    color: #fff;
}

.block-temp {
    display: block;
    font-size: 75px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.block-time {
    display: block;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.block-one-country {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    font-size: 34px;
    font-weight: 400;
}

.hum-data, .temp-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.block-one-data {
    display: grid;
    grid-template-columns: 65px 65px;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.block-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: #fff;
    font-size: 14px;
    & h1 {
        font-size: 18px;
    }
}

.block-two-icon {
    width: 150px;
    height: 150px;
}

.forecast-day-container {
    min-width: 300px;
    max-width: 800px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-evenly;
    overflow-y: hidden;
    z-index: 9999;
    &::-webkit-scrollbar{ 
        width: 4px;
        height: 4px;
    }
    &::-webkit-scrollbar-track{
        width: 3px;
        height: 3px;
        background-color: rgba(255, 255, 255, 10%);
    }
    &::-webkit-scrollbar-thumb{
        width: 4px;
        height: 4px;
        background-color: rgba(255, 255, 255, 60%);
    }
}

.forecast-day-box {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 30%);
    min-width: 80px;
    margin: 0 4px;
    padding: 6px 0;
    height: 100px;
    & span {
        width: 60%;
        height: 2px;
        background-color: #fff;
    }
}

.forecast-day-time {
    font-family: Arial, Helvetica, sans-serif;
}

.forecast-day-weather {
    width: 45px;
    height: 45px
}

.imgTootle {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
    background-color: rgba(255, 255, 255, 30%);
    &:active {
        display: block;
    }
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fff;
}



/*Разрешение 375px*/
@media screen and (max-width: 375px) {
    .header-title {
        text-align: center;
    }
    .container {
        justify-content: space-around;
    }
    .main {
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }
    /* .block-two {
        text-align: center;
        width: 100px;
        position: absolute;
        top: 35%;
        right: 0%;
        & h1 {
            font-size: 20px;
            text-wrap: wrap;
        }
    } */
    .block-two-icon {
        width: 150px;
        height: 150px;
    }
}